body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #90EE90; 
    opacity: 0; /* hidden anim */
    animation: popIn 1.5s ease forwards; /*animation*/
    display: flex;
    flex-direction: column; 
    min-height: 100vh; 
}

/* Styling */
header, section, footer {
    position: relative;
    z-index: 1;
    color: #4af761c7;
    background-color: #FFFFFF; /* header */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.7); /* floating something effect */
}

/* Header styling */
header {
    text-align: center;
    padding: 50px;
    font-size: 2.5em;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.7); /* same effect */
}

/* GIF container */
section {
    margin: 20px auto;
    padding: 20px;
    max-width: 900px;
    flex: 1; 
}


.gif-container {
    display: flex; 
    justify-content: space-around; 
    align-items: flex-start; 
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.5); /* effect chuchuwadcadwvcwac */
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.7); 
    margin: 40px auto; 
    max-width: 900px;
}


.gif-item {
    text-align: center;
    flex: 1; 
}


.gif-item img {
    max-width: 250px; 
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    transition: box-shadow 0.3s ease, transform 0.3s ease; 
}

/* glow */
.gif-item img:hover {
    box-shadow: 0 0 20px 8px #90EE90; 
    transform: scale(1.05); 
}


.gif-item .gif-title {
    margin-top: 10px;
    font-size: 1.8em;
    color: #e5e74e;
}


.gif-item .gif-description {
    font-size: 1em;
    color: #d3d3d3;
    margin-top: 5px;
}


footer {
    text-align: center;
    padding: 10px;
    position: relative; 
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 1.2em;
    z-index: 10; 
    margin-top: auto; 
}


footer a {
    color: #90EE90;
    text-decoration: none;
    padding: 5px 15px;
    transition: all 0.3s ease;
}

footer a:hover {
    text-shadow: 0 0 8px #90EE90;
    color: white;
}


@keyframes popIn {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
